{% extends 'students/app-layout.html' %}

{% block content %}
    <h3 class="text-center m-4">Add Student</h3>
    {% if success %}
        <div class="alert alert-success" role="alert">
            Student added successfully
            <a href='{% url "index" %}' class="alert-link">Go to Home Page.</a>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card bg-light ms-4 me-4 mb-4">
                    <!-- <div class="card-header">No Student Records Available</div> -->
                    <div class="card-body">
                        <form action="{% url 'add' %}" method="POST">
                            <!-- CROSS SITE REQUEST FORGERY TOKEN -->
                            <!-- PREVENTS UNWANTED ACTION -->
                                <!-- UHMM FOR PROTECTION -->
                                    <!-- CONDOM NG MGA WEBSITE -->
                            {% csrf_token %}
                            <!-- render form automatically -->
                            {{ form.as_p }}

                            <button type="submit" class="btn btn-primary">Add</button>
                            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
